# Dependencies
node_modules/
dist/
lib-cov/
coverage/
.npm
.DS_Store

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.keystore

# Local config
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build artifacts
ios/build/
android/build/
*.app
*.ipa
*.apk
*.aar

# Temporary files
tmp/
temp/
*.log

# Example specific
example/node_modules/
example/.expo/
example/dist/
example/android/app/src/main/assets/
example/android/app/src/main/res/raw/_assets_*
example/android/app/src/main/res/raw/keep.xml
example/android/app/src/main/res/drawable-*/node_modules_*.png
